WebContent/wsdl/OrgService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="synchDepartments">
    <complexType>
     <sequence>
      <element name="action" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="synchDepartmentsResponse">
    <complexType>
     <sequence>
      <element name="synchDepartmentsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="synchDepartmentsRequest">

      <wsdl:part element="impl:synchDepartments" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="synchDepartmentsResponse">

      <wsdl:part element="impl:synchDepartmentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OrgService">

      <wsdl:operation name="synchDepartments">

         <wsdl:input message="impl:synchDepartmentsRequest" name="synchDepartmentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:synchDepartmentsResponse" name="synchDepartmentsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrgServiceSoapBinding" type="impl:OrgService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="synchDepartments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="synchDepartmentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="synchDepartmentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrgServiceService">

      <wsdl:port binding="impl:OrgServiceSoapBinding" name="OrgService">

         <wsdlsoap:address location="http://localhost:8080/helloService/services/OrgService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
