WebContent/wsdl/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="synchUsers">
    <complexType>
     <sequence>
      <element name="action" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="synchUsersResponse">
    <complexType>
     <sequence>
      <element name="synchUsersReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="synchUsersRequest">

      <wsdl:part element="impl:synchUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="synchUsersResponse">

      <wsdl:part element="impl:synchUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserService">

      <wsdl:operation name="synchUsers">

         <wsdl:input message="impl:synchUsersRequest" name="synchUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:synchUsersResponse" name="synchUsersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserServiceSoapBinding" type="impl:UserService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="synchUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="synchUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="synchUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceService">

      <wsdl:port binding="impl:UserServiceSoapBinding" name="UserService">

         <wsdlsoap:address location="http://localhost:8080/helloService/services/UserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
